---
import Layout from "@/layouts/Layout.astro";
import HeroSection04 from "@/components/ui/HeroSection04.astro";
import AboutSection from "@/components/sections/AboutSection.astro";
import ServicesSection from "@/components/sections/ServicesSection.astro";
import ProjectsSection from "@/components/sections/ProjectsSection.astro";
import TechStackSection from "@/components/sections/TechStackSection.astro";
import ContactSection from "@/components/sections/ContactSection.astro";
import MotionWrapper from "@/components/ui/MotionWrapper.astro";
import MobileDock from "@/components/ui/MobileDock.astro";
---

<Layout>
	<div id="mobile-section-home">
		<HeroSection04 />
	</div>

	<div id="mobile-section-about">
		<MotionWrapper>
			<AboutSection />
		</MotionWrapper>

		<MotionWrapper delay={0.1}>
			<ServicesSection />
		</MotionWrapper>
	</div>

	<div id="mobile-section-projects">
		<MotionWrapper delay={0.1}>
			<ProjectsSection />
		</MotionWrapper>

		<MotionWrapper delay={0.1}>
			<TechStackSection />
		</MotionWrapper>
	</div>

	<div id="mobile-section-contact">
		<MotionWrapper delay={0.1}>
			<ContactSection />
		</MotionWrapper>
	</div>

	<MobileDock />
</Layout>
